<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>

    <link rel="stylesheet" href="/stylesheets/chat-style.css">
    <script src="https://kit.fontawesome.com/fca6d7d29b.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class = "overlay"></div>

    <div id = "editMessage__container">
        <a class="fas fa-times"></a>
        <h1>Edit message</h1>
        <input id = "changedValue" type = "text" placeholder = "Enter your new text">
        <div class = "button__container">
            <button id = "cancel">Cancel</button>
            <button id = "saveChanges"><i class="fas fa-level-down-alt fa-rotate-45"></i>Save changes</button>
        </div>
    </div>

    <div id = "showMembers__container">
        <a class="fas fa-times"></a>
        <h1 id = "nrOfMembersH1"></h1>
        <div class = "inner__container">
        </div>
    </div>

    <div id = "showChannels__container">
        <a class="fas fa-times"></a>
        <h1>Join a channel</h1>
        <div class = "inner__container">
            <table>
                <thead>
                    <tr>
                        <td>List of all channels</td>
                    </tr>
                </thead>
                <tbody id = "tbody_channels">
                </tbody>                   
            </table>
        </div>
    </div>
    
    <div id = "createChannel__container">
        <a class="fas fa-times"></a>
        <h1>Create a channel</h1>
        <p>Channels are where your team communicates. They’re best when organized around a topic — #marketing, for example.</p>
        <label for = "name"></label>
        <form class = "createChannel__form">
            <label for = "name">Name </label>
            <input class = "createChannel__input" name = "name" placeholder="#   e.g. plan-budget" autocomplete="off">
            <label for = "description">Description <span>(Optional)</span></label>
            <input class = "createChannel__input" name = "description" autocomplete="off">
            <span>What's this channel about?</span>
            <span id = "createChannel__error"></span>
            <span id = "createChannel__success"></span>
            <div class = "createButton__container">
                <input type = "submit" id = "createChannelBtn" value = "Create"></input>
            </div>
        </form>
    </div>
  
    <div id = "createDirectMessage__container">
        <a class="fas fa-times"></a>
        <div class = "inner__container">
            <h1>Direct Messages</h1>
            <form class = "createDirectMessage__form">
                <input class = "createDirectMessage__input" name = "search" placeholder = "Find or start a conversation" autocomplete="off">
            </form>
            <span id = "createDirectMessage__error"></span>
            <table>
                <thead>
                    <tr>
                        <td>List of all users</td>
                    </tr>
                </thead>
                <tbody>
                    <% allUsers.forEach(user => { %>
                    <tr class = "table-row">
                        <td>
                            <a id = "<%= user._id %>" class = "directMessage"><%= user.username%></a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>                   
            </table>
        </div>
    </div>

    
    <div class="grid-container">
        <div class="header">
            <div class = "header__container">
                <h1 id = "header__name">#ChannelName</h1>
                <div class = "icon__container">
                    <a><i class="far fa-star"></i></a>
                    <a id = "nrOfMembers"><i class="far fa-user"></i>24</a>
                </div>

            </div>

        </div>
        <div class="sidebar">
            <div class="profileLink">
                <img id = "profile__picture" src = "<%=image%>" />
                <a href="/profile">Edit Profile</a>
            </div>
            <div class = "top__container">
                <h1 id = "group__name">WEBB19</h1>
                <h2 id = "username"><%= username %></h2>
            </div>
            <div class = "setting__container">
                <a id = "joinChannelBtn"><i class="fas fa-comments"></i>Join channel</a>
            </div>
            <div class = "middle__container">
                <div class = "channel__header">
                    <h1>Channels</h1>
                    <a class="fas fa-plus-circle createChannel"></a>
                </div>
                <div class = "channels__container">
                    <% channels.forEach(channel => { %>
                        <a name = "<%= channel._id%>" class = "channel"><i class="fas fa-hashtag"></i><%= channel.name %></a>
                    <% }) %>
                </div>
                <div class = "directMessage__header">
                    <h1>Direct Messages</h1>
                    <a class="fas fa-plus-circle createDirectMessage"></a>
                </div>
                <div class = "directMessage__container">
                    <% directMessages.forEach(directMessage => { %>
                        <a name = "<%= directMessage._id%>" class = "createdDirectMessage"><%= username == directMessage.createdByUsername ? directMessage.selectedByUsername : directMessage.createdByUsername  %></a>
                    <% }) %>
                </div>
            </div>
        </div>

        <div class="text">
            <ul id="messages">
            
            </ul>
        </div>

        <form id="send">
            <div class = "typing__container">
                <span id = "isTyping"></span>
            </div>
            <input type="text" id="msgInput" name="msgVal" autocomplete="off" placeholder = "Write your message" />
            <button type="submit" id="send-btn">Send</button>
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/sidebar.js"></script>
    <script src= "/javascript/channels.js"></script>
    <script src= "/javascript/search.js"></script>
    <script src= "/javascript/messages.js"></script>
    <script src="/javascript/chat.js"></script>
    <script src="/javascript/users.js"></script>
</body>

</html>



